{% extends 'file/bace.html' %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'file/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block link %}
    <!-- <div class="content" >
        <label for="content" class="title">Links:</label>
        <div id="content" style="overflow-y: scroll; height: 400px;">
            {% for link in links %}
                {{ link }} <br><br>
            {% endfor %}
        </div>
    </div> -->
    {% for link in links %}
        <details>
            <summary>{{ link }}</summary>
            اینجا متن کامل قرار می‌گیرد که فقط زمانی نمایش داده می‌شود که کاربر روی عنوان کلیک کند.
        </details>
    {% endfor %}
    
{% endblock %}
{% block ports %}
    {% for port in ports %}
        {{ port }} / 
    {% endfor %}
{% endblock %}
{% block whois %}
    {{ whois|linebreaksbr }}
{% endblock %}
{% block phone_number %}
    {% for phone in phones %}
        {{ phone }} / 
    {% endfor %}
{% endblock %}
{% block Email_address %}
    {% for email in emails %}
        {{ email }} / 
    {% endfor %}
{% endblock %}